<%= form_for(@action_list) do |f| %>
  <% if @action_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@action_list.errors.count, "error") %> prohibited this action_list from being saved:</h2>

      <ul>
      <% @action_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :datum_id %>
    <%= f.number_field :datum_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
