<%
user_state = current_user.user_state

index = user_state.current_action_list_index
count = @datum.action_list.action_types.count

action_types = @datum.action_list.action_types

%>

<b>Action Types</b><br />
<p>
<%= link_to 'New action', new_action_type_path(:action_list_id => @datum.action_list.id, :position => count) %>

</p>

<p>
<%= link_to "Execute one at a time (ctrl+e)", url_for(:controller => :action_lists, :action => :execute, :id => @datum.action_list.id), :remote => true, :id => "execute_link", :method => :post %>
</p>
<p>
<%= link_to "Execute rest of list", url_for(:controller => :action_lists, :action => :execute_rest, :id => @datum.action_list.id), :remote => true, :id => "execute_rest_link", :method => :post %>
</p>
<div id="record_keystrokes_div">
  <a href="#" onclick="return false;" id="record_keystrokes_link">Record keystrokes (ctrl+r)</a>
</div>
<%= 
# a hidden form so that javascript knows the correct keystrokes id
form_tag(url_for(:controller => :action_lists, :action =>:keystrokes, :id => @datum.action_list.id), :id => "record_keystrokes_hidden_form")  do %>
<% end %>
<%=
form_tag(url_for(:controller => :action_types, :action => :create_current), :id => "search_url_hidden_form") do
%>
<% end %>
<%= 
      form_tag(url_for(:controller => :action_lists, :action => :delete_current_action_type, :id => @datum.action_list.id), :id => "delete_action_hidden_form") do %>
<% end %>
<p>
<%= link_to "Reset", url_for(:controller => :action_lists, :action => :reset, :id => @datum.action_list.id), :remote => true, :id => "reset_selected", :method => :post %>
</p>
<p>
<%= link_to "Clear", url_for(:controller => :action_lists, :action =>:clear, :id => @datum.action_list.id), :remote => true, :id => "clear_link", :confirm => "Are you sure you want to clear the action types?", :method => :post %>
</p>

<ol>
<% 
action_types.count.times do |i|
  action_type = action_types[i] 
  selected = nil
  selected_string = ""

  if user_state.current_action_list_id == @datum.action_list.id and (index == i or (index == count and i == count - 1))
    selected = true
    selected_string = if index == count
                        "<div class='selected_bottom'>"
                      else
                        "<div class='selected'>"
                      end
  end
 %>
<li>
<%= (selected_string).to_s.html_safe %>
   <%= link_to action_type.description, action_type %>
<%= ("</div>" if selected).to_s.html_safe %>
</li>
<% end %>
</ol>

<script type="text/javascript">
$(document).ready(function() {

    bind_record_keystrokes();
});
</script>
