<div class="fields">
  <p>
    <%= f.label :key, "Argument Key" %>
    <%= f.text_field :key %>
  </p>
  <p>
    <%= f.label :value, "Argument Value" %>
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, "Remove Argument" %>
  </p>
</div>
