<%= form_for(@action_type) do |f| %>
  <% if @action_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@action_type.errors.count, "error") %> prohibited this action_type from being saved:</h2>

      <ul>
      <% @action_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :action_type %><br />
    <%= select(:action_type, :action_type, ActionType.mapping.map { |k,v| [ v, k]}) %> 
  </div>
  <div class="field">
    For <%= f.label :action_list_id %> <%= @action_type.action_list.name %><br />
    <%= f.hidden_field :action_list_id, :value => @action_type.action_list.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
