<%= form_for(@action_type) do |f| %>
  <% if @action_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@action_type.errors.count, "error") %> prohibited this action_type from being saved:</h2>

      <ul>
      <% @action_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :action_type %><br />
    <%= select_tag :action_type_action_type,
	options_from_collection_for_select(Constants::AllArguments, :id, :my_name),
	:name => "action_type[action_type]",
	:'data-remote' => 'true',
    :'data-url' => url_for(:controller => :action_types, :action => :select_changed, :id => @action_list.id),
    :'data-type' => 'html'
	%>
    

  </div>
  <div class="field">
    For <%= f.label :action_list_id %> <%= link_to @action_type.action_list.name, @action_type.action_list %><br />
    <%= f.hidden_field :action_list_id, :value => @action_type.action_list.id %>
  </div>

  <div id="argument_fields">
 <%= render "select_changed" %>
  </div>

<div id="position">
  <%= f.hidden_field :position, :value => @position %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
