<p id="notice"><%= notice %></p>

<p>
  <b>Action type:</b>
  <%= @action_type.describe %>
</p>

<p>
  <b>Data:</b>
  <%= link_to @action_type.action_list.datum.title, @action_type.action_list.datum %>
</p>

<p>
  <b>Arguments</b>
<ul>
<% for argument in @action_type.make_arguments %>
  <li><b><%= argument.key.capitalize %></b>: <%= argument.value %></li>
<% end %>
</ul>
