<p id="notice"><%= notice %></p>

<p>
  <b>Action type:</b>
  <%= @action_type.my_name %>
</p>

<p>
  <b>Action list:</b>
  <%= link_to @action_type.action_list.name, @action_type.action_list %>
</p>

<p>
  <b>Arguments:</b>
  <%= @action_type.arguments %>


<%= link_to 'Edit', edit_action_type_path(@action_type) %>
