<p id="notice"><%= notice %></p>

<p>
  <b>Action type:</b>
  <%= @action_type.my_name %>
</p>

<p>
  <b>Action list:</b>
  <%= @action_type.action_list.name %>
</p>


<%= link_to 'Edit', edit_action_type_path(@action_type) %> |
<%= link_to 'Back', action_types_path %>
