<p id="notice"><%= notice %></p>

<span class="title"><%= link_to @datum.user.name, @datum.user %>'s data piece</span>
<div id="container">

<div id="info">
  <%= render "shared/display_info" %>
</div>

<div id="content">
  <%= text_area_tag :textarea_content, (render "shared/display_content"), :class => "tinymce", :rows => 40, :cols => 100 %>
</div>

<div id="sidebar">

  <%= render "shared/sidebar" %>
</div>  

</div>

<%= link_to 'Edit', edit_datum_path(@datum) %>

