<p id="notice"><%= notice %></p>

<div id="container">
<div id="content">
<code>
  <%= h(@datum.content).gsub("\n", "<br />").html_safe %>
</code>
</div>

<div id="sidebar">
<% @datum.action_list.action_types.each do |action_type| %>
  Action Type <%= action_type.name %><br />
<% end %>
<%= link_to 'New action', new_action_type_path(:action_list => @datum.action_list) %>
</div>  

</div>

<%= link_to 'Edit', edit_datum_path(@datum) %>

